<div>
    <mat-card>
        <mat-card-content>
            <h2>Расписание</h2>
        </mat-card-content>
    </mat-card>
    <br>

    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    6 Тур
                </mat-panel-title>
                <mat-panel-description>
                    Текущий
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="day-container">
                <div class="date-container">
                    <h4>25.06 Четверг Шервуд</h4>
                </div>
                <div class="both-field-container">
                    <div class="field-container">
                        <h4 class="field">1 Поле</h4>
                        <div class="game">
                            <div class="w100 text-right">220V</div>
                            <div class="w50 text-center">20:00</div>
                            <div class="w100 text-left">Молохит</div>
                        </div>
                    </div>
                    <div class="field-container">
                        <h4 class="field">2 Поле</h4>
                        <div class="game">
                            <div class="w100 text-right">super Torba-Д</div>
                            <div class="w50 text-center">22:00</div>
                            <div class="w100 text-left">12род-2</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="day-container">
                <div class="date-container">
                    <h4>26.06 Пятница Шервуд</h4>
                </div>
                <div class="both-field-container">
                    <div class="field-container">
                        <h4 class="field">1 Поле</h4>
                        <div class="game">
                            <div class="w100 text-right">Юг</div>
                            <div class="w50 text-center">20:00</div>
                            <div class="w100 text-left">Слобожанщина</div>
                        </div>
                        <div class="game">
                            <div class="w100 text-right">Фк Песочин</div>
                            <div class="w50 text-center">21:00</div>
                            <div class="w100 text-left">Revolution</div>
                        </div>
                        <div class="game">
                            <div class="w100 text-right">Городок</div>
                            <div class="w50 text-center">22:00</div>
                            <div class="w100 text-left">Змиев</div>
                        </div>
                    </div>
                    <div class="field-container">
                        <h4 class="field">2 Поле</h4>
                    </div>
                </div>
            </div>

        </mat-expansion-panel>

        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    5 Тур
                </mat-panel-title>
                <mat-panel-description>
                    Прошёл
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>



