<div class="main-container">

    <div class="main">
        <mat-card>
            <div class="main-img">
                <img src="assets/main/3x1.jpg" alt="">
            </div>
            <div class="statement-btn">
                <div class="statement-text">Подать заявку в Элит турнир</div>
                <button mat-flat-button color="primary">Primary</button>
            </div>
            Адрес: г. Харьков, Сокольники, 3-А; "Академия Бенфики"<br>
            ютуб + сити кап

            <div *ngIf="user" class="addButton">
                <button *ngIf="!editMode" mat-mini-fab color="primary" (click)="editMode = !editMode">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="editMode" mat-mini-fab color="primary" (click)="saveAll()">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </mat-card>

        <mat-card>
            <mat-tab-group>
                <mat-tab label="Cхема розыгрыша">
                    <div class="scheme-container">
                        <div *ngIf="user" class="addButton">
                            <button *ngIf="editMode" mat-mini-fab color="primary" (click)="addPost(1)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                        <form [formGroup]="postsForm">
                            <div formArrayName="posts">
                                <div *ngFor="let postControl of getControls(); let i=index">
                                    <div *ngIf="postControl.value.type === 1">
                                        <div class="scheme">
                                            <div *ngIf="!editMode">
                                                <div class="scheme-title">{{postControl.value.title}}</div>
                                                <div class="scheme-text">{{postControl.value.text}}</div>
                                            </div>

                                            <div [formGroupName]="i" *ngIf="editMode" class="edit">
                                                <input placeholder="Название" formControlName="title">
                                                <textarea placeholder="Текст" class="scheme-text" formControlName="text"
                                                          rows="6" cols="60"></textarea>
                                                <div class="addButton">
                                                    <button mat-mini-fab color="primary" (click)="removePost(i)">
                                                        <mat-icon>remove</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="Дисциплинарные наказания">
                    <div *ngIf="editMode" class="addButton">
                        <button mat-mini-fab color="primary" (click)="addPost(2)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                    <form [formGroup]="postsForm">
                        <div formArrayName="posts">
                            <div *ngFor="let postControl of getControls(); let i=index">
                                <div *ngIf="postControl.value.type === 2">
                                    <div class="scheme">
                                        <div *ngIf="!editMode">
                                            <div class="scheme-text">{{postControl.value.text}}</div>
                                        </div>

                                        <div [formGroupName]="i" *ngIf="editMode" class="edit">
                                            <input placeholder="Название" formControlName="text">
                                            <div class="addButton">
                                                <button mat-mini-fab color="primary" (click)="removePost(i)">
                                                    <mat-icon>remove</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="КДК по игрокам">
                    <div *ngIf="editMode" class="addButton">
                        <button mat-mini-fab color="primary" (click)="addPost(3)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                    <form [formGroup]="postsForm">
                        <div formArrayName="posts">
                            <div *ngFor="let postControl of getControls(); let i=index">
                                <div *ngIf="postControl.value.type === 3">
                                    <div class="scheme">
                                        <div *ngIf="!editMode">
                                            <div class="scheme-text">{{postControl.value.text}}</div>
                                        </div>

                                        <div [formGroupName]="i" *ngIf="editMode" class="edit">
                                            <input placeholder="Название" formControlName="text">
                                            <div class="addButton">
                                                <button mat-mini-fab color="primary" (click)="removePost(i)">
                                                    <mat-icon>remove</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="КДК по судьям">
                    <div *ngIf="editMode" class="addButton">
                        <button mat-mini-fab color="primary" (click)="addPost(4)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                    <form [formGroup]="postsForm">
                        <div formArrayName="posts">
                            <div *ngFor="let postControl of getControls(); let i=index">
                                <div *ngIf="postControl.value.type === 4">
                                    <div class="scheme">
                                        <div *ngIf="!editMode">
                                            <div class="scheme-text">{{postControl.value.text}}</div>
                                        </div>

                                        <div [formGroupName]="i" *ngIf="editMode" class="edit">
                                            <input placeholder="Название" formControlName="text">
                                            <div class="addButton">
                                                <button mat-mini-fab color="primary" (click)="removePost(i)">
                                                    <mat-icon>remove</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>


    <div class="statement-container">
        <div class="statement">
            <mat-card>
                <div class="statement-header">
                    Заявочный лист
                </div>
                <div class="statement-body">
                    <div class="document-container">
                        <mat-icon>cloud_download</mat-icon>
                        <a href="http://elitturnir.info/wp-content/uploads/2018/11/Zayavochny_list-1.doc">Заявочный лист
                            Elit-турнира</a>
                    </div>
                    <div class="document-container">
                        <mat-icon>cloud_download</mat-icon>
                        <a href="http://elitturnir.info/wp-content/uploads/2018/11/Dozayavochny_list.docx">Дозаявочный
                            лист Elit-турнира</a></div>
                </div>
            </mat-card>
        </div>
        <div *ngIf="user" class="right-add-button">
            <button *ngIf="editMode" mat-mini-fab color="primary" (click)="addPost(5)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <form [formGroup]="postsForm">
            <div formArrayName="posts">
                <div *ngFor="let postControl of getControls(); let i=index">
                    <div *ngIf="postControl.value.type === 5">
                        <div class="statement">
                            <mat-card>
                                <div *ngIf="!editMode">
                                    <div class="statement-header">
                                        {{postControl.value.title}}
                                    </div>
                                    <div class="statement-body">
                                        <div *ngIf="postControl.value.image != null">
                                            <img src="{{postControl.value.image}}" alt="">
                                        </div>
                                        {{postControl.value.text}}
                                    </div>
                                </div>

                                <div class="edit" *ngIf="editMode">
                                    <div [formGroupName]="i">
                                        <input placeholder="Название" formControlName="title">
                                        <textarea class="scheme-text" formControlName="text" rows="6"
                                                  cols="20"></textarea>
                                    </div>
                                    <div class="addButton">
                                        <button mat-mini-fab color="primary" (click)="removePost(i)">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>

