<div class="main-container">

    <div class="main">
        <mat-card>
            <div class="main-img">
                <img src="assets/main/3x1.jpg" alt="">
            </div>
            <div class="statement-btn">
                <div class="statement-text">Подать заявку в Элит турнир</div>
                <button mat-flat-button color="primary">Primary</button>
            </div>
            Адрес: г. Харьков, Сокольники, 3-А; "Академия Бенфики"<br>
            ютуб + сити кап
        </mat-card>

        <mat-card>
            <mat-tab-group>
                <mat-tab label="Cхема розыгрыша">
                    <div class="scheme-container">
                        <div class="scheme">
                            <div class="scheme-title">Cхема розыгрыша 6 команд</div>
                            <div class="scheme-text">В лиге где играют 6 команд , игры проводятся в 2 круга команды
                                занявшие 1-4 места играют в полуфинальных матчах 1-4 и 2-3 место.
                            </div>
                        </div>
                        <div class="scheme">
                            <div class="scheme-title">Cхема розыгрыша 7 команд</div>
                            <div class="scheme-text">
                                В Этой лиге выступают 7 коллективов сыграв 6 игр ,команды делятся на первую 4ку и
                                вторую 3ку с сохранением очков проводят еще 2-3 игры ,после чего 1 место в первой
                                4ке выходит в полуфинал ,а 2-7 место команды будут разыгрывать четвертьфинальные
                                матчи 2-7,3-6,4-5,
                            </div>
                        </div>
                        <div class="scheme">
                            <div class="scheme-title">Cхема розыгрыша 8 команд</div>
                            <div class="scheme-text">
                                В Этих лигах играют 8 команд , команды проведут игры по круговой системе в 1
                                круг,После команды разделяться на 2 четверки (1-4) и (5-8)……в 1 четверке очки у
                                команд сохраняются играется 3 игры .по итогу этих игр 1 и 2 место выходят в
                                полуфинал . 3 и 4 место в четвертьфинал, команды 2 4ки играют 3 игры очки после
                                первого тура у них обнуляются , команды занявшие 1 и 2 место во 2 4ке выходят в
                                четверть финал
                            </div>
                        </div>
                        <div class="scheme">
                            <div class="scheme-title">Cхема розыгрыша 9-10 команд</div>
                            <div class="scheme-text">
                                В лигах находиться 9 или 10 команд сыграют в один круг ,после чего 1 и 2 место
                                проходят по прямой в полуфинал ,а команды занявшие места с 3 по 6 будут играть
                                четвертьфинальные матчи , пары 3-6 и 4-5 , в полуфинале 1 м- поб 4-5 ,2м- поб 3-6 ,
                                команды занявшие места с 7 по 10 ,будут разыгрывать малый кубок ,полуфинал и финал ,
                                пары полуфиналистов мал кубка 7-10 ,8-9,где 9 команд малый кубок будет разыгран
                                между 3 командами 2 круговых игры 1 и 2 место финал
                            </div>
                        </div>
                        <div class="scheme">
                            <div class="scheme-title">Плей-офф</div>
                            <div class="scheme-text">
                                В плей-офф матчах при ничейном результате пробивается по 5 6-ти метровых удара, и
                                последняя минута первого и второго тайма играется чистой!
                            </div>
                        </div>
                        <div class="scheme">
                            <div class="scheme-title">Примечания</div>
                            <div class="scheme-text">
                                При одинаковом количестве очков у команд, считаются голы, если количество забитых
                                мячей и очков одинаково, и эта игра является последней игрой в круговом турнире
                                перед плей-офф, будет сыграно 2 тайма по 10 минут дополнительного времени. Если по
                                окончанию кругового турнира команды находятся с одинаковыми количествами очков и
                                одинаковое количество мячей, играется для прохода в плей-офф «Золотой матч».
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Дисциплинарные наказания">
                    <mat-list role="list">
                        <mat-list-item role="listitem">За грубый фол игроку будет показана — красная карточка
                        </mat-list-item>
                        <mat-list-item role="listitem">За грубый фол с нанесением травмы – дисквалификация минимум
                            на 3 игры
                        </mat-list-item>
                        <mat-list-item role="listitem">За оскорбление судей, игроков, зрителей – дисквалификация
                            минимум на 3 игры
                        </mat-list-item>
                        <mat-list-item role="listitem">За использование мата на поле – минимальный штраф 50 грн
                        </mat-list-item>
                        <mat-list-item role="listitem">За драку — дисквалификация минимум на 5 игры (будет вызван
                            наряд полиции с оформлением протокола на основании статей 121 — 123 «УКУ»).
                        </mat-list-item>
                        <mat-list-item role="listitem">В случае повторение нарушение игроку будет запрещено
                            принимать участие в играх Элит-турнира
                        </mat-list-item>
                        <mat-list-item role="listitem">Все недовольства и пожелания в организации и проведении
                            Элит-турнира капитаны команд могут написать в протоколе игры после матча.
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
                <mat-tab label="КДК по игрокам">
                    <mat-list role="list">
                        <mat-list-item role="listitem">Штеплюк Юрий ( Голова КДК )</mat-list-item>
                        <mat-list-item role="listitem">Гавриков Максим</mat-list-item>
                        <mat-list-item role="listitem">Коваленко Игорь</mat-list-item>
                    </mat-list>
                </mat-tab>
                <mat-tab label="КДК по судьям">
                    <mat-list role="list">
                        <mat-list-item role="listitem">Брик Дмитрий</mat-list-item>
                        <mat-list-item role="listitem">Павлов Владимир</mat-list-item>
                        <mat-list-item role="listitem">Данилов Денис</mat-list-item>
                    </mat-list>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>


    <div class="statement-container">

        <div class="statement">
            <mat-card>
                <div class="statement-header">
                    Заявочный лист
                </div>
                <div class="statement-body">
                    <div class="document-container">
                        <mat-icon>cloud_download</mat-icon>
                        <a href="http://elitturnir.info/wp-content/uploads/2018/11/Zayavochny_list-1.doc">Заявочный лист
                            Elit-турнира</a>
                    </div>
                    <div class="document-container">
                        <mat-icon>cloud_download</mat-icon>
                        <a href="http://elitturnir.info/wp-content/uploads/2018/11/Dozayavochny_list.docx">Дозаявочный
                            лист Elit-турнира</a></div>
                </div>
            </mat-card>
        </div>

        <div class="statement">
            <mat-card>
                <div class="statement-header">
                    Заявка на весенний elite турнир, который будет проходить на открытых спортплощадках
                </div>
                <div class="statement-body">
                    С 19 марта стартует весенний Elite турнир, который будет проходить на открытых спортплощадках:
                    СК Фарм Академия, Football Park, ХНУРЭ.
                    <br> Турнир включает в себя 11-12 игр.
                    <br>Заявки уже принимаются.
                    <strong>Взнос 5100.</strong>
                </div>
            </mat-card>
        </div>

        <div class="statement">
            <mat-card>
                <div class="statement-header">
                    Заявка на весенний elite cup, который будет проходить в залах
                </div>
                <div class="statement-body">
                    С 28 марта стартует весенний Elite Cup, который будет проходить в залах:
                    Ск вирта, ШВСМ Пионер, ОНСК Локомотив, СК Звезда.
                    <br>Турнир включает в себя 14-15 игр.
                    <br>Заявки уже принимаются.<strong>Взнос 8000.</strong>
                </div>
            </mat-card>
        </div>

        <div class="statement">
            <mat-card>
                <div class="statement-header">
                    Официальный партнёр ELITE CUP
                </div>
                <div class="statement-body">
                    <img src="assets/main/obolon.jpg" alt="">
                    По вопросам сотрудничества: 0982679156 - Александр
                </div>
            </mat-card>
        </div>

        <div class="statement">
            <mat-card>
                <div class="statement-header">
                    Sport Time
                </div>
                <div class="statement-body">
                    <img src="assets/main/sport-time.png" alt="">
                    По вопросам сотрудничества: 0982679156 - Александр
                </div>
            </mat-card>
        </div>

        <div class="statement">
            <mat-card>
                <div class="statement-header">
                    КУБОК ЭЛИТ-ТУРНИРА
                </div>
                <div class="statement-body">
                    Залы:СК Звезда, ОНСК Локомотив, ШВСМ Пионер, СК Фарм Академия.
                </div>
            </mat-card>
        </div>

    </div>

</div>

