<div class="main-container">

    <div class="main">
        <mat-card>
            <div class="main-img">
                <img src="assets/main/3x1.jpg" alt="">
            </div>
            <div class="statement-btn">
                <div class="statement-text">Подать заявку в Элит турнир</div>
                <button mat-flat-button color="primary">Primary</button>
            </div>
            Адрес: г. Харьков, Сокольники, 3-А; "Академия Бенфики"<br>
            ютуб + сити кап
        </mat-card>

        <mat-card>
            <mat-tab-group>
                <mat-tab label="Cхема розыгрыша">
                    <div class="scheme-container">
                        <div class="scheme" *ngFor="let post of postsTypeOne">

                            <div *ngIf="user" class="button-container">
                                <div class="example-button-container">
                                    <button mat-mini-fab color="primary" (click)="editPost(post)" *ngIf="!post.editMode">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-mini-fab color="primary" (click)="savePost(post)" *ngIf="post.editMode">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                </div>
                                <div class="example-button-container" *ngIf="user">
                                    <button mat-mini-fab color="primary" (click)="clearPost(post)" *ngIf="post.editMode">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <div *ngIf="!post.editMode" class="scheme-title">{{post.title}}</div>
                            <div *ngIf="!post.editMode" class="scheme-text">{{post.text}}</div>

                            <div *ngIf="post.editMode" class="edit-form-container">
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Название</mat-label>
                                        <input matInput placeholder="Название" [value]="post.title">
                                    </mat-form-field>

                                    <mat-form-field class="example-full-width">
                                        <mat-label>Текст</mat-label>
                                        <textarea class="scheme-text" matInput placeholder="Текст" [value]="post.text" rows="4"></textarea>
                                    </mat-form-field>

                                </form>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Дисциплинарные наказания">
                    <mat-list role="list" class="post-container">
                        <div role="listitem" *ngFor="let post of postsTypeTwo" class="punishment">
                            {{post.text}}
                        </div>
                    </mat-list>
                </mat-tab>
                <mat-tab label="КДК по игрокам">
                    <mat-list role="list" *ngFor="let post of postsTypeThree" class="post-container">
                        <div role="listitem" class="punishment">{{post.text}}</div>
                    </mat-list>
                </mat-tab>
                <mat-tab label="КДК по судьям">
                    <mat-list role="list" *ngFor="let post of postsTypeFour" class="post-container">
                        <div role="listitem" class="punishment">{{post.text}}</div>
                    </mat-list>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>


    <div class="statement-container">
        <div class="statement">
            <mat-card>
                <div class="statement-header">
                    Заявочный лист
                </div>
                <div class="statement-body">
                    <div class="document-container">
                        <mat-icon>cloud_download</mat-icon>
                        <a href="http://elitturnir.info/wp-content/uploads/2018/11/Zayavochny_list-1.doc">Заявочный лист
                            Elit-турнира</a>
                    </div>
                    <div class="document-container">
                        <mat-icon>cloud_download</mat-icon>
                        <a href="http://elitturnir.info/wp-content/uploads/2018/11/Dozayavochny_list.docx">Дозаявочный
                            лист Elit-турнира</a></div>
                </div>
            </mat-card>
        </div>

        <div *ngFor="let post of postsTypeZero">
            <div class="statement">
                <mat-card>
                    <div class="statement-header">
                        {{post.title}}
                    </div>
                    <div class="statement-body">
                        <div *ngIf="post.image != null">
                            <img src="{{post.image}}" alt="">
                        </div>
                        {{post.text}}
                    </div>
                </mat-card>
            </div>
        </div>


    </div>

</div>

