<mat-card>
    <h2>Организаторы Elit Group</h2>
    <div class="card-container">
        <div class="card">
            <span class="pro">PRO</span>
            <img class="round" src="../assets/employes/person.png" alt="user"/>
            <h3>Данилов Денис</h3>
            <h6>Харьков</h6>
            <p>Организатор Elit Group</p>
            <div class="skills">
                <h6>Связь</h6>
                <ul class="contacts">
                    <li>063-138-90-48</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <span class="pro">PRO</span>
            <img class="round" src="../assets/employes/person.png" alt="user"/>
            <h3>Штеплюк Юрий</h3>
            <h6>Харьков</h6>
            <p>Организатор Elit Group</p>
            <div class="skills">
                <h6>Связь</h6>
                <ul class="contacts">
                    <li>098-546-82-22</li>
                </ul>
            </div>
        </div>
    </div>
</mat-card><br>

<mat-card>
    <h2>Комитет турнира</h2>
    <div class="card-container">
        <div class="card">
            <span class="pro">PRO</span>
            <img class="round" src="../assets/employes/person.png" alt="user"/>
            <h3>Коваленко Игорь</h3>
            <h6>Харьков</h6>
            <p>Представитель «City cup»</p>
            <div class="skills">
                <h6>Связь</h6>
                <ul class="contacts">
                    <li>098-555-51-01</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <span class="pro">PRO</span>
            <img class="round" src="../assets/employes/person.png" alt="user"/>
            <h3>Гуральник Леонид</h3>
            <h6>Харьков</h6>
            <p>Видеооператор</p>
            <div class="skills">
                <h6>Связь</h6>
                <ul class="contacts">
                    <li>063-848-69-14</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <span class="pro">PRO</span>
            <img class="round" src="../assets/employes/person.png" alt="user"/>
            <h3>Гавриков Максим</h3>
            <h6>Харьков</h6>
            <p>Главный арбитр Elit Group</p>
            <div class="skills">
                <h6>Связь</h6>
                <ul class="contacts">
                    <li>099-960-97-77</li>
                    <li>097-434-40-44</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <span class="pro">PRO</span>
            <img class="round" src="../assets/employes/person.png" alt="user"/>
            <h3>Горбань Богдан</h3>
            <h6>Харьков</h6>
            <p>Консультант Elit Group</p>
            <div class="skills">
                <h6>Связь</h6>
                <ul class="contacts">
                    <li>099-493-52-86</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <span class="pro">PRO</span>
            <img class="round" src="../assets/employes/person.png" alt="user"/>
            <h3>Онищук Валерия</h3>
            <h6>Харьков</h6>
            <p>Статистики сайта</p>
            <div class="skills">
                <h6>Связь</h6>
                <ul class="contacts">
                    <li>096-600-51-67</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <span class="pro">PRO</span>
            <img class="round" src="../assets/employes/person.png" alt="user"/>
            <h3>Байдак Полина</h3>
            <h6>Харьков</h6>
            <p>Консультант по заявкам/дозаявкам</p>
            <div class="skills">
                <h6>Связь</h6>
                <ul class="contacts">
                    <li>050-134-05-74</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <span class="pro">PRO</span>
            <img class="round" src="../assets/employes/person.png" alt="user"/>
            <h3>Чугун Дмитрий</h3>
            <h6>Харьков</h6>
            <p>главный врач Elit Group:</p>
            <div class="skills">
                <h6>Связь</h6>
                <ul class="contacts">
                    <li>097-974-75-64</li>
                </ul>
            </div>
        </div>
    </div>
</mat-card><br>
